.d-block{
    display: block;
}
.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.flex-center{
    justify-content: center!important;
}
.justify-center{
    justify-content: center!important;
}
.justify-between{
    justify-content: space-between!important;
}
.align-items-center{
    align-items: center!important;
}

.d-flex-desktop{
    @include media-querie('desktop'){
        display: flex!important;
    }
}
.flex-start-desktop{
    @include media-querie('desktop'){
        align-items: flex-start!important;
        justify-content: flex-start!important;

    }
}
.justify-start-desktop{
    @include media-querie('desktop'){
        justify-content: flex-start!important;
    }
}
.flex-column-desktop{
    @include media-querie('desktop'){
        flex-direction: column!important;
    }
}
.flex-row-desktop{
    @include media-querie('desktop'){
        flex-direction: row!important;
    }
}
.justify-between-desktop{
    @include media-querie('desktop'){
        justify-content: space-between;
    }
}
