.c-card{
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    // min-height: 425px;
    border-radius: 80px;
    background-color: $white;
    padding: 90px;
}