@font-face {
    font-family: 'Graphik-regular';
    src: url('./Graphik-Regular.woff2') format('woff2');
    src: url('./Graphik-Regular.eot') format('eot');
    src: url('./Graphik-Regular.svg') format('svg');
    src: url('./Graphik-Regular.ttf') format('ttf');
    src: url('./Graphik-Regular.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Graphik-medium';
    src: url('./Graphik-Medium.woff2') format('woff2');
	src: url('./Graphik-Medium.eot') format('eot');
    src: url('./Graphik-Medium.svg') format('svg');
    src: url('./Graphik-Medium.ttf') format('ttf');
    src: url('./Graphik-Medium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Graphik-semibold';
    src: url('./Graphik-Semibold.woff2') format('woff2');
	src: url('./Graphik-Semibold.eot') format('eot');
    src: url('./Graphik-Semibold.svg') format('svg');
    src: url('./Graphik-Semibold.ttf') format('ttf');
    src: url('./Graphik-Semibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Graphik-bold';
    src: url('./Graphik-Bold.woff2') format('woff2');
	src: url('./Graphik-Bold.eot') format('eot');
    src: url('./Graphik-Bold.svg') format('svg');
    src: url('./Graphik-Bold.ttf') format('ttf');
    src: url('./Graphik-Bold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('./Poppins-Regular.ttf') format('ttf');
	src: url('./Poppins-Regular.eot') format('eot');
    src: url('./Poppins-Regular.svg') format('svg');
    src: url('./Poppins-Regular.ttf') format('ttf');
    src: url('./Poppins-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Poppins-medium';
    src: url('./Poppins-Medium.woff2') format('woff2');
	src: url('./Poppins-Medium.eot') format('eot');
    src: url('./Poppins-Medium.svg') format('svg');
    src: url('./Poppins-Medium.ttf') format('ttf');
    src: url('./Poppins-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-semi-bold';
    src: url('./Poppins-SemiBold.woff2') format('woff2');
	src: url('./Poppins-SemiBold.eot') format('eot');
    src: url('./Poppins-SemiBold.svg') format('svg');
    src: url('./Poppins-SemiBold.ttf') format('ttf');
    src: url('./Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-bold';
    src: url('./Poppins-Bold.woff2') format('woff2');
	src: url('./Poppins-Bold.eot') format('eot');
    src: url('./Poppins-Bold.svg') format('svg');
    src: url('./Poppins-Bold.ttf') format('ttf');
    src: url('./Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-regular';
    src: url('./Poppins-Regular.woff2') format('woff2');
	src: url('./Poppins-Regular.eot') format('eot');
    src: url('./Poppins-Regular.svg') format('svg');
    src: url('./Poppins-Regular.ttf') format('ttf');
    src: url('./Poppins-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
