.c-header{
    grid-area: header;
    position: sticky;
    background: #fff;
    min-height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: $text-primary;
    @include z-index('level3');

    &__content{
        padding: 0 0 0 20px ;
        // flex: 1;
        display: flex;
        max-width: 220px;
    }

    &__nav{
        display: flex;
        align-items: center;
        gap:20px;
        margin-right: 20px;
        max-width: 220px;
        
    }
    &__login{
        text-decoration: none;
        color: black;
        
    }
    &__login:hover{
        color:$primary;
    }
    &__option{
        text-decoration: none;
        color: black;   
        padding: 10px 20px;
             
    }
    &__options{
        display: flex;
        align-items: center;
        
        margin-right: 20px;
        
    }
    
    &__option:after {
        content: '';
        display: inline-block;
        position: absolute;
        height: 20px;
        width: 1px;
        margin:0px 20px;
        background: #999
      }
      
      &__option:last-child::after {
        display: none
      }

}